# ===================================
# CONFIGURAÇÃO PADRÃO (COMUM A TODOS)
# ===================================
server:
  error:
    include-message: always
    include-binding-errors: always

spring:
  profiles:
    default: local

  mvc:
    hiddenmethod:
      filter:
        enabled: true

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
        format_sql: true
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: zenlogoficial@gmail.com
    password: ${GM_PASS_KEY}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  ai:
    openai:
      api-key: ${GPT_PASS_KEY}
      model: gpt-3.5-turbo

api:
  security:
    token:
      secret: ${SECRET_SPRING_SECURITY}

---
# ===================================
# PERFIL LOCAL (para rodar na sua máquina)
# ===================================
spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: ${SPRING_DATASOURCE_SQL_URL}
    username: ${SQL_USER_KEY}
    password: ${SQL_PASS_KEY}

  #    comando para subir docker
  #    docker run -d --name rabbitmq -p 5672:5672 -p 15672:15672 rabbitmq:3-management
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

---
# ===================================
# PERFIL PRODUÇÃO (para o DEPLOY)
# ===================================
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${SPRING_DATASOURCE_SQL_URL}
    username: ${SQL_USER_KEY}
    password: ${SQL_PASS_KEY}

  rabbitmq:
    addresses: ${RABBITMQ_URL}
    queue: email.notification.queue

---
spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    database-platform: org.hibernate.dialect.H2Dialect
  flyway:
    enabled: false

  mail:
    password: "dummy-mail-password"
    host: "localhost"
  ai:
    openai:
      api-key: "dummy-ai-key"


api:
  security:
    token:
      secret: "TESTE_SEM_VALOR_SENSIVEL"
